{% extends 'bootstrap/base.html'%}

<!-- Navbar block  --> 
{% block navbar %}
    {% include 'navbar.html' %}
{% endblock %}

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        {% if title %}
        <title> {{ title }}</title>
        {% else %}
        <title> YSL News </title>
        {% endif %}
    </head>
    <body>
        <!-- Content block -->
        {% block content %}
        <header class="container-fluid text-center">
            <h1>WELCOME TO YSL NEWS WHERE YOU GET THE MOST <br> UP-TO-DATE INFORMATION.</h1>
        </header>
        {% endblock %}
    </body>
</html>