{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}
<header class="container-fluid text-center">
    <h1>WELCOME TO YSL NEWS WHERE YOU GET THE MOST <br> UP-TO-DATE INFORMATION.</h1>
</header>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">General</h4>
            <ul>
                {{macro.displaySource(general)}}
            </ul>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Business</h4>
            <ul>
                {{macro.displaySource(business)}}
            </ul>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Entertainment</h4>
            <ul>
                {{macro.displaySource(entertainment)}}
            </ul>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Health</h4>
            <ul>
                {{macro.displaySource(health)}}
            </ul>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Science</h4>
            <ul>
                {{macro.displaySource(science)}}
            </ul>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Sports</h4>
            <ul>
                {{macro.displaySource(sports)}}
            </ul>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h4 class="text-center">Technology</h4>
            <ul>
                {{macro.displaySource(technology)}}
            </ul>
        </div>
    </div>
</section>

{% endblock%}