{% extends 'base.html'%}

<section class="container">
    <h4>General</h4>
    <ul>
        
    </ul>
</section>
<section class="container">
    <h4>Business</h4>
    <ul>

    </ul>
</section>
<section class="container">
    <h4>Entertainment</h4>
    <ul>

    </ul>
</section>
<section class="container">
    <h4>Health</h4>
    <ul>

    </ul>
</section>
<section class="container">
    <h4>Science</h4>
    <ul>

    </ul>
</section>
<section class="container">
    <h4>Sports</h4>
    <ul>

    </ul>
</section>
<section class="container">
    <h4>Technology</h4>
    <ul>

    </ul>
</section>
