{% extends 'base.html'%}
{% import 'macros.html' as macro %}

{% block content %}
<header class="container-fluid text-center intro-bg intro-color">
    <h1>WELCOME TO YSL NEWS WHERE YOU GET THE MOST <br> UP-TO-DATE INFORMATION.</h1>
</header>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center" id="general">General</h3>
            <ul>
                {{macro.displaySource(general)}}
            </ul>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center" id="business">Business</h3>
            <ul>
                {{macro.displaySource(business)}}
            </ul>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center" id="entertainment">Entertainment</h3>
            <ul>
                {{macro.displaySource(entertainment)}}
            </ul>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center" id="health">Health</h3>
            <ul>
                {{macro.displaySource(health)}}
            </ul>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center" id="science">Science</h3>
            <ul>
                {{macro.displaySource(science)}}
            </ul>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center" id="sports">Sports</h3>
            <ul>
                {{macro.displaySource(sports)}}
            </ul>
        </div>
    </div>
</section>
<section class="container">
    <div class="row">
        <div class="col-md-12">
            <h3 class="text-center" id="technology">Technology</h3>
            <ul>
                {{macro.displaySource(technology)}}
            </ul>
        </div>
    </div>
</section>

{% endblock%}